<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <title><%= title %></title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <div id="main">
        <br>
        <!--Heading -->
        <h1 id="heading">TODO App</h1>
        <!--input task from user -->
        <form action="/create-task" method="POST">
            <!-- 'Description' container-->
            <div id="description-container">
                <p>DESCRIPTION :-</p><br>
                <input id="form-description" type="text" name="description" placeholder="What to do today?" required>
            </div>
            <!-- 'Category' and 'Due Date' container-->
            <div class="category-date-container">
                <!-- 'Category' container -->
                <div id="category-container">
                    <p id="category-heading">CATEGORY</p><br>
                    <!-- Category Drop-down -->
                    <select name="category">
                        <option value="">Choose the Category</option>
                        <option value="personal">Personal</option>
                        <option value="work">Work</option>
                        <option value="cleaning">Cleaning</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <!-- 'Due Date' container -->
                <div id="due-date-container">
                    <p>DEADLINE</p><br>
                    <input id="date-input-box" type="date" name="dueDate" placeholder="">
                </div>
            </div>
            <!-- 'Add' & 'Delete' Button-->
            <div class="buttons-container">
                <!-- Add Button -->
                <div> 
                    <button type="submit" class="add-button">
                        <i class="fa fa-plus" aria-hidden="true"></i> 
                        &nbsp; ADD TASK
                    </button>
                </div>
                &nbsp;
                <!-- Delete Button -->
                <div>
                    <button type="submit" class="delete-button" form="delete1">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        &nbsp; DELETE TASKS
                    </button>
                </div>

            </div>
        </form>


        <div class="show">
            <!--'delete' tasks from the database -->
            <form id="delete1" action="/delete-multiple-tasks" method="POST" >
                <!-- Fetching data ---->
                <%  for(let i = todo_list.length - 1; i >= 0; i--) { %>

                    <div id="task">
                        <div id="task-checkbox">
    
                        <input type="checkbox" id="check-box" name=task value="<%= todo_list[i]._id %>">
                        </div>
                        <!-- Each task-->
                        <div class="task-container">
                            <span id="task-description" class="task-des">
                                <%= todo_list[i].description %>
                            </span>
                            <br>
                            <span id="task-date" class="task-date">
                                <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                &nbsp;
                                <%= todo_list[i].dueDate  %>
                            </span>
                        </div>
                        <div class="task-category-div">
                        <% if(  todo_list[i].category  !="empty" ) { %>
                            <div id="task-category"> 
                                <%= todo_list[i].category %>
                            </div>
                        <% }%>
                        </div>
                        <!-- Cross Icon to remove task from the list-->
                        <div id="remove-task-icon">
                            <a href="/delete-task/?id=<%= todo_list[i]._id %>">
                                <i class="fa fa-times" ></i>
                            </a>
                        </div>
                        
                    </div>

                <% } %>

            </form>

        </div>

    </div>
    <script src="/js/home.js"></script>
</body>
</html>
